<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Add New Blog</title>
</head>
<body>
    <%- include("./partials/nav") %>
    <div class="container mt-3">
        <form action="/blog" method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="coverImage" class="form-label">Cover Image</label>
              <input type="file" class="form-control" id="coverImage" aria-describedby="coverImage" name="coverImage">
            </div>
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" aria-describedby="title" name="title">
            </div>
            <div class="mb-3">
              <label for="body" class="form-label">Body</label>
              <textarea name="body" class="form-control" id="body" style="height: 100px"></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
    </div>
    <%- include("./partials/scripts") %>
</body>
</html>